<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1>Continuous and Integer Bilevel Optimization Library</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/instances">Browse Instances</a></li>
        <li><a href="/documentation">Documentation</a></li>
	<li><a href="/downloads">Downloads Test</a></li>
      </ul>
    </nav>
    <hr style="color: #d5d5d5; line-width: 1px;"/>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->

    <footer>
      <ul>
        <li><a href="mailto:">email</a></li>
        <li><a href="https://github.com/cibolib">github.com/cibolib</a></li>
      </ul>
    </footer>
  </body>
</html>
